.carousel-rel-wrapper {
    /* position: relative; */
    white-space: nowrap;
    overflow: hidden;
    width: 232px;
    /* margin: 0 auto; */
 }

.index {
    margin: 38px auto 50px auto;
    border-top:solid 1px #dedfe0; 
    flex: 1;
    padding-top: 10px;
}

.courses-box {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    z-index: 2;

}

.course-card {
    display: flex;
    flex-direction: column;
    width: 216px;
    min-width: 216px;
    height: 290px;
    border: solid 1px #dedfe0;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    opacity: 1;
    margin: 7px;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .3s;
}

.course-card:hover {
    box-shadow: 0 0 9px 3px rgba(20,23,28,.1), 0 4px 2px 0 rgba(20,23,28,.1);
    filter: sepia(.1) grayscale(.1) saturate(.8);
}

.arrow-button-left {
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    position: relative;
    color: #007791;
    font-size: 21px;
    text-align: center;
    width: 47px;
    height: 47px;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
    font-family: inherit;
    background: white;
    top: 120px;
    left: -25px;
}

  .arrow-button-left-hidden {
    visibility: hidden;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    position: relative;
    color: #007791;
    font-size: 21px;
    text-align: center;
    width: 47px;
    height: 47px;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
    font-family: inherit;
    background: white;
    top: 120px;
    left: -25px;
}

.arrow-button-right {
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    position: relative;
    color: #007791;
    font-size: 21px;
    text-align: center;
    width: 47px;
    height: 47px;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
    font-family: inherit;
    background: white;
    top: 120px;
    left: 25px;
}


.arrow-button-right-hidden {
    visibility: hidden;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    position: relative;
    color: #007791;
    font-size: 21px;
    text-align: center;
    width: 47px;
    height: 47px;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
    font-family: inherit;
    background: white;
    top: 120px;
    left: 25px;
}

