.index {
   margin: 38px auto 50px auto;
   border-top: solid 1px #dedfe0;
   flex: 1;
   padding-top: 10px;
}

.course-card {
   display: flex;
   flex-direction: column;
   width: 216px;
   min-width: 216px;
   height: 290px;
   border: solid 1px #dedfe0;
   box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
      0 3px 1px 0 rgba(20, 23, 28, 0.1);
   opacity: 1;
   margin: 7px;
   transition-property: all;
   transition-timing-function: ease;
   transition-duration: 0.3s;
}

.course-card:hover {
   box-shadow: 0 0 9px 3px rgba(20, 23, 28, 0.1),
      0 4px 2px 0 rgba(20, 23, 28, 0.1);
   filter: sepia(0.1) grayscale(0.1) saturate(0.8);
}

.arrow-button-left {
   box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
   position: relative;
   color: #007791;
   font-size: 21px;
   text-align: center;
   width: 47px;
   height: 47px;
   z-index: 3;
   border-radius: 50%;
   cursor: pointer;
   font-family: inherit;
   background: white;
   top: 120px;
   left: -25px;
}

.arrow-button-left-hidden {
   visibility: hidden;
   box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
   position: relative;
   color: #007791;
   font-size: 21px;
   text-align: center;
   width: 47px;
   height: 47px;
   z-index: 3;
   border-radius: 50%;
   cursor: pointer;
   font-family: inherit;
   background: white;
   top: 120px;
   left: -25px;
}

.arrow-button-right {
   box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
   position: relative;
   color: #007791;
   font-size: 21px;
   text-align: center;
   width: 47px;
   height: 47px;
   z-index: 3;
   border-radius: 50%;
   cursor: pointer;
   font-family: inherit;
   background: white;
   top: 120px;
   left: 25px;
}

.arrow-button-right-hidden {
   visibility: hidden;
   box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
   position: relative;
   color: #007791;
   font-size: 21px;
   text-align: center;
   width: 47px;
   height: 47px;
   z-index: 3;
   border-radius: 50%;
   cursor: pointer;
   font-family: inherit;
   background: white;
   top: 120px;
   left: 25px;
}

.index-card-title {
   white-space: normal;
   font-weight: 600;
   height: 42px;
   font-size: 15px;
   color: #29303b;
   margin-bottom: 10px;
   text-decoration: none;
   margin-top: 15px;
   margin-bottom: 26px;
}

.index-card-text {
   padding: 12px;
}

.index-card-rating {
   display: flex;
   font-size: 12px;
   font-weight: 600;
   color: #505763;
}

.index-card-price {
   display: flex;
   justify-content: flex-end;
   font-size: 18px;
   color: #29303b;
   font-family: inherit;
}

.index-header {
   font-size: 19px;
   font-weight: 400;
   color: #505763;
   font-family: inherit;
   margin: 18px 0 11px;
   padding-left: max(88px, calc(50vw - 92px));
}

.img-cover {
   display: none;
   z-index: 2;
}

.img-cover-show {
   display: block;
   background-color: black;
   z-index: 3;
   position: absolute;
}
